.card {
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid grey;
  border-radius: 20px;
  cursor: pointer;
  background-size: 95%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 4px 4px 10px 1px #5c5c5c;
  }