.navBar {
  padding: 10px;
  width: 80%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 1rem; */
}

.navBar a:first-child {
  height: 100%;
}

.navBar a {
  font-weight: 700;
  cursor: pointer;
}

.logo {
  height: 100%;
  width: auto;
}

.views_container {
  font-weight: 600;
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: space-between;
}
